@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__button-edit/profile__button-edit.css);
@import url(./__profession/profile__profession.css);
@import url(./__avatar-button/profile__avatar-button.css);
@import url(../../blocks/profile/__avatar-icon/profile__avatar-icon.css);
@import url(./__button-add/profile__button-add.css);

.profile {
    max-width: 882px;
    margin: 36.25px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 40px 15px 0;
}
    }

@media screen and (max-width: 400px) {
    .profile {
        margin-right: auto;
        margin-left: auto;
        max-width: 320px;
    }
}