.header__link {
    text-decoration: none;
    color: #ffffff;
    text-align: end;
}

.header__link_sign-in {
    padding-left: 15px;
}

.header__link:hover {
    opacity: 0.6; 
    cursor: pointer;
}

@media screen and (max-width: 424px) {
    .header__link {
        font-size: .875rem;
        line-height: 1.0625rem;
    }
}

@media screen and (max-width: 619px) {
.header__link {
    margin-right: 26px;
    }
}




