.profile__button-edit {
    width: 22px;
    height: 22px;
    background-color: #000;
    background-image: url(../../../images/Edit-Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    margin-top: 5px;
    border: 1px solid #fff;
    transition: opacity 0.3s ease-in;
}

.profile__button-edit:hover {
    opacity: .6;
    cursor: pointer;
}

.profile__button-edit:focus {
    outline: none;
}

@media screen and (max-width: 900px) {
    .profile__button-edit {
        align-self: flex-end;
        margin-bottom: 5px;
}
    }

@media screen and (max-width: 400px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
}
    }
