.card__like {
    background-image: url('../../../images/heart.svg');
    background-color: #FFFF;
    cursor: pointer;
    background-repeat: no-repeat;
    min-width: 20.7px;
    min-height: 18.1px;
    border: none;
    background-color: #ffffff;
    transition: opacity 0.3s ease-in;
}


.card__like:hover {
    opacity: .6;
}

.card__like:focus  {
    outline: none;
}   