.auth-form__button_submit {
  border: none;
  margin-top: 216px;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.auth-form__button_submit_disabled {
  cursor: pointer;
}

.auth-form__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 600px) {
  .auth-form__button {
    font-size: 16px;
  }
}